<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Playlist Sync.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>78BBFC6A1C42EC1800421236</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78BBFC7B1C42EC1900421236</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78BBFC861C42EC1900421236</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
